{%- if site.texture.analytics_id -%}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.texture.analytics_id }}"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag() { dataLayer.push(arguments); }
	gtag('js', new Date());

	gtag('config', '{{ site.texture.analytics_id }}');
</script>
{%- endif -%}

{%- if site.texture.showPicker -%}
<div id="texture-picker">
	<div style="display:flex;justify-content: space-between">
		<p>Select Texture</p>
		<p><a id="hidePicker" href="#">Hide</a></p>
	</div>
	<div class="texture-colors">
		<div id="black"></div>
		<div id="blue"></div>	
		<div id="red"></div>	
		<div id="purple"></div>		
		<div id="green"></div>
	</div>
	<p class="info">You can use the <b>showPicker</b> property in _config.yml to hide this picker permanently.</p>
	<p class="info">You can use the <b>texture</b> property in _config.yml to apply a texture permanently.</p>
</div>
<script src="{{ "/assets/js/picker.js" | relative_url }}"></script>
{%- endif -%}

{%- if site.texture.useMathJax -%}
<script type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
{%- endif -%}

<style>
	
</style>
{% if page.comments %}

<div id="disqus_thread"></div>
<script>


/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://blog-ananthkamath-com.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>                        
{% endif %}
