---
---

@import "theme";

 {%- if site.texture.showPicker -%}
#texture-picker {
    position: fixed;
    {%- if site.texture.showNav -%}
        top: 100px;
        right: 5vw;
    {%- else -%}
        top: 20px;
        right: 20px;
    {%- endif -%}
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px 12px;
    p {
        margin: 0;
        @include fluidType(14px, 15px);
    }
    .info {
        background-color: rgba(#ffd68d, 0.7);
        border-radius: 4px;
        font-size: 13px;
        // color: #999;
        padding: 10px;
        margin-top: 10px;
        max-width: 200px;
        line-height: 1.3em;
    }
    .texture-colors {
        display: flex;
        > div {
            width: 30px;
            height: 30px;
            margin: 4px;
            border: 1px solid #eee;
            border-radius: 4px;
            &:hover {
                cursor: pointer;
            }
        }
    }
    #red {background-color: orangered;}
    #blue { background-color: lightblue; }
    #black { background-color: #111; }
    #purple { background-color: rebeccapurple; }
    #green { background-color: mediumseagreen; }
}
{%- endif -%}
// Textures
.texture-black {
    background-image: url('{{ site.baseurl }}/assets/textures/black.jpg');

    h2 {
        color: #999;
    }
}

.texture-blue {
    background-image: url('{{ site.baseurl }}/assets/textures/blue.jpg');

    h2 {
        color: #ddd;
    }

    .social i:hover {
        color: #eee;
    }

    .post-date {
        color: #ccc;
    }
}

.texture-red {
    background-image: url('{{ site.baseurl }}/assets/textures/red.jpg');
}

.texture-purple {
    background-image: url('{{ site.baseurl }}/assets/textures/purple.jpg');
}

.texture-green {
    background-image: url('{{ site.baseurl }}/assets/textures/green.jpg');

    .post-date {
        color: #ccc;
    }
}

.texture-red,
.texture-purple {
    h2 {
        color: #ccc;
    }

    .social i {
        color: #ddd;

        &:hover {
            color: lighten(#ddd, 7%);
        }
    }

    .post-date {
        color: #ddd;
    }
}

input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 0.35em;
    border: solid 3px #d1d1d1;
    color: #8a8a8a !important;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    height: 3.15em;
    height: calc(2.75em + 6px);
    line-height: 2.75em;
    min-width: 10em;
    padding: 0 1.5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}

    input[type="submit"]:hover,
    input[type="reset"]:hover,
    input[type="button"]:hover,
    .button:hover {
        border-color: #49bf9d;
        color: #49bf9d !important;
    }

    input[type="submit"]:active,
    input[type="reset"]:active,
    input[type="button"]:active,
    .button:active {
        background-color: rgba(73, 191, 157, 0.1);
        border-color: #49bf9d;
        color: #49bf9d !important;
    }
    

    input[type="submit"].icon,
    input[type="reset"].icon,
    input[type="button"].icon,
    .button.icon {
        padding-left: 1.35em;
    }

        input[type="submit"].icon:before,
        input[type="reset"].icon:before,
        input[type="button"].icon:before,
        .button.icon:before {
            margin-right: 0.5em;
        }

    input[type="submit"].fit,
    input[type="reset"].fit,
    input[type="button"].fit,
    .button.fit {
        min-width: 0;
        width: 100%;
    }

    input[type="submit"].small,
    input[type="reset"].small,
    input[type="button"].small,
    .button.small {
        font-size: 0.8em;
    }

    input[type="submit"].large,
    input[type="reset"].large,
    input[type="button"].large,
    .button.large {
        font-size: 1.35em;
    }

    input[type="submit"].primary,
    input[type="reset"].primary,
    input[type="button"].primary,
    .button.primary {
        background-color: #49bf9d;
        border-color: #49bf9d;
        color: #ffffff !important;
    }

        input[type="submit"].primary:hover,
        input[type="reset"].primary:hover,
        input[type="button"].primary:hover,
        .button.primary:hover {
            background-color: #5cc6a7;
            border-color: #5cc6a7;
        }

        input[type="submit"].primary:active,
        input[type="reset"].primary:active,
        input[type="button"].primary:active,
        .button.primary:active {
            background-color: #3eb08f;
            border-color: #3eb08f;
        }
a.no_underline
{
    text-decoration: none; 
    border-bottom: 0px;
}

        